<!doctype html>

<html>
  <head>
    <title>WorldTour.com</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>

  <body>
    <h1>Where In The World?</h1>
  </body>
</html>
